$hamburger-height: 32px; 
$hamburger-width: 60px;

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .hamburger {
        position: relative;
        height: $hamburger-height;
        width: $hamburger-width;
    
        div {
            position: absolute;
            background-color: $primary-color;
            border-radius: 2px;
            height: 3px;
            right: 0;
        }
    
        .l-line {
            width: 100%;
            top: 0%;
        }
    
        .m-line {
            width: 66%;
            top: 50%;
        }
    
        .x-line {
            width: 33%;
            top: 100%;
        }
    }
}